<p id="notice"><%= notice %></p>

<h1>All Boards</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Width</th>
      <th>Height</th>
      <th>Num mines</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @boards %>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.width %></td>
        <td><%= board.height %></td>
        <td><%= board.num_mines %></td>
        <td><%= board.name %></td>
        <td><%= board.url %></td>
        <td><%= board.email.address %></td>
        <td><%= link_to board.name, board %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', new_email_path %>
