<p id="notice"><%= notice %></p>

<p>
  <strong><%= @board.name %></strong>
</p>

<p>
  <strong>Email:</strong>
  <%= @board.email_id %>
</p>

<br>

<%= link_to boards_path do %>
  <% image_tag "unclicked_tile_shaded.png" %>
<% end %>

<br>
<br>
<% @game_board.each do |row|%>
  <br>
  <% row.each do |tile|%>
    <% case tile %>
      <% when 0 %>
        <%= image_tag "clicked_tile_0.png", class: "img-responsive"%>
      <% when 1 %>
        <%= image_tag "clicked_tile_1.png", class: "img-responsive"%>
      <% when 2 %>
        <%= image_tag "clicked_tile_2.png", class: "img-responsive"%>
      <% when 3 %>
        <%= image_tag "clicked_tile_3.png", class: "img-responsive"%>
      <% when 4 %>
        <%= image_tag "clicked_tile_4.png", class: "img-responsive"%>
      <% when 5 %>
        <%= image_tag "clicked_tile_5.png", class: "img-responsive"%>
      <% when 6 %>
        <%= image_tag "clicked_tile_6.png", class: "img-responsive"%>
      <% when 7 %>
        <%= image_tag "clicked_tile_0.png", class: "img-responsive"%>
      <% when 8 %>
        <%= image_tag "clicked_tile_0.png", class: "img-responsive"%>
      <% else %>
      <%= image_tag "mine.png", class: "img-responsive"%>
    <% end %>
  <% end %>
<% end %>

<br>
<br>
<%= link_to 'All Boards', boards_path %>
