<p id="notice"><%= notice %></p>

<p>
  <strong>Board Name: <%= @board.name %></strong>
</p>

Click the tile to play the game: 
<br>
<%= link_to game_path(@game) do %>
  <% image_tag "clicked_tile_0.png" %>
<% end %>

<p>
  Creator's email: <%= @board.email.address %>
</p>
<br>
<% @game_board.each do |row|%>
  <br>
  <% row.each do |tile, index|%>
    <% case tile %>
      <% when 0 %>
          <% image_tag "clicked_tile_0.png", class: "img-responsive" %>
      <% when 1 %>
        <%= link_to boards_path(:position => [tile, @game_board.find_index(row), row.find_index(tile)]) do %>
          <% image_tag "clicked_tile_1.png", class: "img-responsive" %>
        <% end %>
      <% when 2 %>
        <%= image_tag "clicked_tile_2.png", class: "img-responsive"%>
      <% when 3 %>
        <%= image_tag "clicked_tile_3.png", class: "img-responsive"%>
      <% when 4 %>
        <%= image_tag "clicked_tile_4.png", class: "img-responsive"%>
      <% when 5 %>
        <%= image_tag "clicked_tile_5.png", class: "img-responsive"%>
      <% when 6 %>
        <%= image_tag "clicked_tile_6.png", class: "img-responsive"%>
      <% when 7 %>
        <%= image_tag "clicked_tile_0.png", class: "img-responsive"%>
      <% when 8 %>
        <%= image_tag "clicked_tile_0.png", class: "img-responsive"%>
      <% else %>
      <%= image_tag "mine.png", class: "img-responsive"%>
    <% end %>
  <% end %>
<% end %>

<br>
<br>
<%= link_to 'Home', new_email_path %>