<p id="notice"><%= notice %></p>

<p>
  <strong>Width:</strong>
  <%= @board.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @board.height %>
</p>

<p>
  <strong>Num mines:</strong>
  <%= @board.num_mines %>
</p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @board.url %>
</p>

<p>
  <strong>Email:</strong>
  <%= @board.email_id %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
