<h1>Generate a New Minesweeper Board</h1>

<%= form_for @email do |f| %>
    What is your email address? <%= f.text_field :address %>
    <br>
    <br>
    <%= f.fields_for :boards do |board| %>
        Width: <%= board.number_field :width %>
        <br>
        <br>
        Height: <%= board.number_field :height %>
        <br>
        <br>
        Number of mines: <%= board.number_field :num_mines %>
        <br>
        <br>
        Board name: <%= board.text_field :name %>
    <% end %>
    <br>
    <br>
    <%= submit_tag "Generate Board" %>
<% end %>