<h1>Generate a New Minesweeper Board</h1>

<% @email.errors.each do |type, msg| %>
    <b><%= msg %></b>
  <br>
  <br>
<% end %>

<%= form_for @email do |f| %>
    What is your email address? <%= f.text_field :address %>
    <br>
    <br>
    <%= f.fields_for :boards do |board| %>
        Width: <%= board.number_field :width %>
        <br>
        <br>
        Height: <%= board.number_field :height %>
        <br>
        <br>
        Number of mines: <%= board.number_field :num_mines %>
        <br>
        <br>
        Board name: <%= board.text_field :name %>
    <% end %>
    <br>
    <br>
    <%= submit_tag "Generate Board" %>
<% end %>

<h2>Last 10 Boards</h2>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Width</th>
      <th>Height</th>
      <th>Mines</th>
      <th>Created At:</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.select{|board| board.id > @boards.last.id - 10}.each do |board| %>
      <tr>
        <td><%= board.email.address %></td>
        <td><%= board.width %></td>
        <td><%= board.height %></td>
        <td><%= board.num_mines %></td>
        <td><%= board.created_at %></td>
        <td><%= link_to board.name, board %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'View all generated boards', boards_path %>
